<!-- Config file for the game -->

<config>
  <app>
    <title>Warp Syndrome</title>
    <organization>UPC</organization>
    <saves>save_game.xml</saves>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>
  <level_m>
    <load docname="levels.xml"/>
  </level_m>
  <map>
    <folder>maps/</folder>
    <load mapname="first_level.tmx"/>
  </map>
<player>
  <load docname="player.xml"/>
</player>

</config>